@font-face{
    font-family: 'VT323';
    src: local("VT323/VT323-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

div {
    background: white;
    font-family: 'VT323';
  }